@import "tailwindcss";

/* LIGHT */
html[data-theme="light"] {
  --bg: #ffffff;
  --text: #111827;
  --accent: linear-gradient(to right, #3b82f6, #06b6d4);
}

/* DARK */
html[data-theme="dark"] {
  --bg: #0a0a0a;
  --text: #f9fafb;
  --accent: linear-gradient(to right, #22d3ee, #a78bfa);
}

/* Apply globally */
body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
